.btn{
    padding: 2px !important;
    margin-bottom: 8px !important;
    padding-right: 7px !important;
    padding-left: 7px !important;
    margin-right: 8px !important;
    right:1.5em;
    border-radius: 4px !important;
    font-size: 11px !important;
}
/* .divider_x { 
    background: #f1f1f1; 
    width: 105%; 
    height: 20px !important; 
    background-image: initial; 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(241, 241, 241);
}  */